
$tag-edit-linked-field-height: $standard-padding * 3;

.tag-edit {

}

.tag-edit__input-group {
  padding: $standard-padding/2;
}

.tag-edit__input {
  width: 100%;
  display: block;
  background-color: $c-white;
  padding: $standard-padding;
  border: 1px solid $c-grey-300;
}

.tag-edit__linked-field {

  height: $tag-edit-linked-field-height;

  * {
    vertical-align: top;
  }

  label {
    @extend %f-header;
    @extend %fs-data-3;

    font-weight: bold;

  }

  input {

  }
}


%tag-edit__linked-field__link {
  display: inline-block;
  width: $tag-edit-linked-field-height;
  height: $tag-edit-linked-field-height;

  background-size: contain;
}

.tag-edit__linked-field__link {
  @extend %tag-edit__linked-field__link;
}

.tag-edit__linked-field__link--corner {
  @extend %tag-edit__linked-field__link;

  background-image: url('/assets/images/connector-corner.svg');
}

.tag-edit__linked-field__link--line {
  @extend %tag-edit__linked-field__link;

  background-image: url('/assets/images/connector-line.svg');
}

.tag-edit__linked-field__link--junction {
  @extend %tag-edit__linked-field__link;

  background-image: url('/assets/images/connector-junction.svg');
}


%tag-edit__linked-field__lock {
    display: inline-block;
    width: $tag-edit-linked-field-height;
    height: $tag-edit-linked-field-height;
}

.tag-edit__linked-field__lock ,
.tag-edit__linked-field__lock--unlocked{
  @extend %tag-edit__linked-field__lock;
  background-color: red;
}

.tag-edit__linked-field__lock--unlocked {
  background-color: green;
}
