.warning-bar,
.error-bar {
  display: block;

  position: relative;

  padding: $standard-padding;

  background-color: $c-red;
  color: white;
  text-align: center;
}

.warning-bar {
    background-color: $c-orange;
}

.error-bar__dismiss {
  position: absolute;

  right: $standard-padding;
}

.warning-bar-small {
  @extend .warning-bar;
  font-size: 13px;
}
