html, body {
  height: 100%;
  color: $c-grey-700;
}

body {
  @extend %f-data;
  height: calc(100% - 50px);
  width: 100%;
}

h1 {
  @extend %f-title;
}

h2, h3, h4, h5, h6 {
  @extend %f-heading;
}

.wrapper {
  height: 100%;
}

a {
  color: $c-grey-700;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

input {
  @extend %f-data;
  @extend %fs-data-3;
}

a[disabled] {
  pointer-events: none;
  border-color: $c-grey-600;
  color: $c-grey-600;
  background-color: $c-grey-200;
  user-select: none;
}
