// Shades of grey
$c-grey-100: #f6f6f6;
$c-grey-150: #f1f1f1;
$c-grey-170: #f1f1f1;
$c-grey-200: #ededed;
$c-grey-300: #dcdcdc;
$c-grey-350: #bec5c6;
$c-grey-400: #bdbdbd;
$c-grey-500: #898989;
$c-grey-600: #767676;
$c-grey-650: #666666;
$c-grey-700: #333333;

// Primary accent colours
$c-white: #ffffff;
$c-blue: #148ad2;
$c-green: #47ae38;
$c-alt-green: #dee2e3;
$c-yellow: #ffbc01;
$c-orange: #ffb100;
$c-red: #ed5935;
$c-bluegrey: #dee2e3;
$c-highlight-blue: #00adee;
$c-presence-purple: #474D80;

// Secondary accent colours
$c-light-green: #f3faf2;
$c-light-orange: #fbf8ec;

// Link colour
$c-blue-link: #005689;

// Body text colour
$c-text: $c-grey-700;

// Borrowed from Composer
$c-composer-blue: #00adee;
$c-composer-dark-blue: #008fc5;
