%svg-common {
	background: url('/assets/images/icons.svg') no-repeat;
	display: inline-block;
	margin: 0 5px;
	position: relative;
	top: 2px;
}

.i-add-image {
	@extend %svg-common;
	background-position: 0 0;
	width: 16px;
	height: 16px;
}

.i-add-image-grey {
	@extend %svg-common;
	background-position: 52.459016393442624% 66.66666666666667%;
	width: 16px;
	height: 16px;
}

.i-article {
	@extend %svg-common;
	background-position: 0 33.333333333333336%;
	width: 16px;
	height: 16px;
}

.i-clock {
	@extend %svg-common;
	background-position: 26.229508196721312% 33.333333333333336%;
	width: 16px;
	height: 16px;
}

.i-cross {
	@extend %svg-common;
	background-position: 52.459016393442624% 0;
	width: 16px;
	height: 16px;
}

.i-cross-red {
	@extend %svg-common;
	background-position: 68.75% 94.11764705882354%;
	width: 13px;
	height: 13px;
}

.i-delete {
	@extend %svg-common;
	background-position: 0 66.66666666666667%;
	width: 16px;
	height: 16px;
}

.i-down-arrow {
	@extend %svg-common;
	background-position: 25.396825396825395% 96%;
	width: 14px;
	height: 14px;
}

.i-info-grey {
	@extend %svg-common;
	background-position: 47.61904761904762% 96%;
	width: 14px;
	height: 14px;
}

.i-plus {
	@extend %svg-common;
	background-position: 78.68852459016394% 0;
	width: 16px;
	height: 16px;
}

.i-preview-eye {
	@extend %svg-common;
	background-position: 78.68852459016394% 33.333333333333336%;
	width: 16px;
	height: 16px;
}

.i-publish {
	@extend %svg-common;
	background-position: 78.68852459016394% 66.66666666666667%;
	width: 16px;
	height: 16px;
}

.i-publish-disabled {
	@extend %svg-common;
	background-position: 0 100%;
	width: 16px;
	height: 16px;
}

.i-tag-white-30 {
	@extend %svg-common;
	background-position: 26.229508196721312% 66.66666666666667%;
	width: 16px;
	height: 16px;
}

.i-tick {
	@extend %svg-common;
	background-position: 52.459016393442624% 33.333333333333336%;
	width: 16px;
	height: 16px;
}

.i-tick-green {
	@extend %svg-common;
	background-position: 100% 0;
	width: 13px;
	height: 13px;
}

.i-tick-selected {
	@extend %svg-common;
	background-position: 26.229508196721312% 0;
	width: 16px;
	height: 16px;
}

