/**
 * Workflow typography.
 *
 * Extracted from https://github.com/guardian/guss-typography for sass-lib compatibility.
 */

@mixin font-size($size, $line-height) {
  font-size: 0px + $size;
  //font-size: 0rem + $size / 10;
  line-height: 0px + $line-height;
  //line-height: 0rem + $line-height / 10;
}

%f-title {
  font-family: "GuardianTitlepieceWeb", Georgia, serif;
  font-weight: 400;
  font-style: normal;
}

%f-heading {
  font-family: "GuardianTextEgyptianWeb-Medium", Georgia, serif;
  font-weight: normal;
  font-style: normal;
}

%f-data {
  font-family: "GuardianAgateSans1Web", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

// Partials for font-sizes
// fs = font scale
%fs-data-1 {
  @include font-size(11, 14);
}

%fs-data-2 {
  @include font-size(12, 15);
}

%fs-data-3 {
  @include font-size(13, 18);
}

%fs-data-4 {
  @include font-size(14, 19);
}

%fs-data-5 {
  @include font-size(16, 21);
}

%fs-data-6 {
  @include font-size(18, 23);
}
