.merge {
  max-width: 800px;
  margin: 0 auto;
  padding: $standard-padding;

  @extend %fs-data-3;


}

.merge__select {
  display: inline-block;
  width: 50%;

  padding: $standard-padding;

  vertical-align: top;

  .tag-select {
    display: block;
  }
}

.merge__select__header {
  @extend %fs-data-4;

  font-weight: bold;
}

.merge__warning,
.merge__confirmation {
  color: $c-red;
  font-weight: bold;
}

.merge__warning {
    color: $c-orange;
}

.merge__select__details {
  list-style-type: initial;
  margin-left: $standard-padding * 1.5;
}
