

.save {
  position: fixed;

  bottom: 0;
  left: 0;

  display: block;

  background-color: $c-alt-green;
  border-top: 1px solid $c-grey-400;
  width: 100%;

  text-align: left;

}

.save__button {
  @extend %button--green;
}

.save__button--reset {
  @extend %button--red;
}

.save__button--indicator {
  display: inline-block;
}

.save-transition-enter.save {
  transform: translateY($save-height);
}

.save-transition-enter-active.save {
  transform: translateY(0);
  transition: transform 500ms ease-out;
}
