.unauthorised {
    font-family: 'GuardianAgateSans1Web';
    margin: 0px;
    padding: 15px 10px;
}

.unauthorised h2 {
    font-family: 'GuardianAgateSans1Web';
    margin: 0 0 10px 0;
}

.unauthorised a {
    color: $c-blue;
}
