.spreadsheet-builder__panel {
  width: 800px;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
}

.spreadsheet-builder__panel h1 {
  margin: 12px 0;
}

.spreadsheet-builder__table a {
  color: cornflowerblue;
}

.spreadsheet-builder__filter {
  margin: 6px 0;
}

.spreadsheet-builder__filter > select {
  margin-right: 12px;
}

.spreadsheet-builder__table > table {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
}

.spreadsheet-builder__table th {
  border: 1px solid black;
  background-color: $c-grey-200;
  vertical-align: top;
}

.spreadsheet-builder__table td {
  border: 1px solid black;
  padding: 5px;
}

.spreadsheet-builder__table-header {
  padding: 5px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.spreadsheet-builder__table-header-picker {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;

  & div {
    margin-left: 12px;
  }
}

.spreadsheet-builder__table-new-column {
  width: 80px;
  background-color: white !important;
  border: 1px solid white !important;
}

.spreadsheet-builder__table-new-column-button {
  position: relative;
  border: 1px solid white !important;
}

.spreadsheet-builder__table-new-column-button > button {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 50px;
}

.spreadsheet-builder__table-hidden-fields {
  border: 1px solid white !important;
  border-top: 1px solid black !important;
  text-align: center;
  padding: 12px 0 !important;
}
