.tag-search {
  max-width: 800px;
  margin: 0 auto;
  padding: $standard-padding;

}

.tag-search__filters {
  width: 100%;

  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;

  min-height: 50px;

  background-color: $c-grey-100;
  border: 1px solid $c-grey-300;

  padding: $standard-padding;
  &:only-child {
    justify-content: flex-end;
  }
}

.tag-search__create {
  right: 0;
  top: 0;
  padding-right: 10px;
  margin-left: auto;
}

.tag-search__create-button {
  @extend %button--green;
}


.tag-search__filters__group {
  display: inline-block;

  label {
    @extend %fs-data-2;

    font-weight: bold;

    display: block;
  }

}

.tag-search__input,
.tag-search__select {
  margin-right: $standard-padding;
}
