$table-border-color: $c-grey-300;

table {

  @extend %f-header;
  @extend %fs-data-3;

  width: 100%;

  td, th {
    padding: $standard-padding/2 $standard-padding;
  }

}

thead {
  background-color: $c-grey-200;

  font-weight: bold;

  border: 1px solid $c-grey-300;
  border-width: 0 1px;
}


tbody tr {

  border: 1px solid $c-grey-300;

  td {
    border-right: 1px solid $c-grey-300;
  }
}
