.top-toolbar {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;

  display: flex;
  min-height: $size-header-height;
  z-index: 2;

}

.top-toolbar-background {
  z-index: -1;
  width: 100%;
  position: absolute;
  height: $size-header-height;
  background-color: $c-alt-green;
  border-bottom: 1px solid $c-grey-400;
}

.header__children {
  flex-grow: 2;
}

.top-toolbar__item,
.top-toolbar__item--highlight {
  background-color: $c-alt-green;
  border-bottom: 1px solid $c-grey-400;
  position: relative;
  padding: 0 15px;
  @extend %f-data;
  @extend %fs-data-3;
  line-height: 50px;
  cursor: pointer;
  text-decoration: none;
  color: $c-grey-700;
  &:hover {
    background-color: $c-grey-400;
  }
  &--active:after {
    content: " ";
    display: block;
    height: 3px;
    width: 100%;
    bottom: 47px;
    left: 0;
    background-color: $c-highlight-blue;
    position: absolute;
  }
}

.top-toolbar__item--highlight {

  @extend %fs-data-2;

  &:hover {
    background-color: $c-grey-300;
    border-bottom: 1px solid $c-grey-400;
  }
}

.home-logo {
  max-height: $size-header-height;
  flex: 0 0 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: url(/assets/images/icons/tag-white-30.svg) $c-green-logo no-repeat center center;

  .home-logo__text-large, .home-logo__text-small {
    display: none;
  }

  &:hover {
    background: none $c-grey-700;
    text-decoration: none;
    
    .home-logo__text-large, .home-logo__text-small {
      display: inherit;
    }
  }
}

.home-logo__text-large {
  @extend %fs-data-4;
  text-align: center;
  color: white;
}

.home-logo__text-small {
  @extend %fs-data-2;
  text-align: center;
  color: white;
}

.links {
  display: block;
  text-align: right;
}

.links__item {
  display: inline-block;
  height: 100%;
  vertical-align: top;
  border-left: 1px solid $c-grey-400;
  border-top: 3px solid $c-alt-green;
  padding: 0 15px;
  line-height: 46px;
  @extend %fs-data-3;
  text-decoration: none;
  color: $c-grey-700;
}

.links__item--active {
  border-top: 3px solid $c-highlight-blue;
}

.top-toolbar__right-align {
  margin-left: auto;
  display: flex;

  .top-toolbar__user {
    border-left: 1px solid $c-grey-400;
    cursor: pointer;
  }
}

.header__component {
  display: inline-block;
  height: 50px;
  line-height: 50px;
}

.search-bar-item {
  display: inline-flex;
  margin-top: 5px;
}
