
.tag__columns-wrapper {
  display: flex;

  height: calc(100vh - #{$size-header-height});
}

%tag__column {
  flex: 1 1 33%;
  padding: $standard-padding;
  border-right: 1px solid $c-grey-300;

  overflow-y: auto;
  overflow-x: hidden;

  &:last-child {
    border-right-width: 0px;
  }
}

.tag__column,
.tag__column--sidebar {
  @extend %tag__column;
}

.tag__column--sidebar {
  background-color: $c-grey-200;
}
