
.tag__columns-wrapper {
  display: flex;

  height: calc(100vh - #{$size-header-height});
}

%tag__column {
  flex: 1 1 33%;
  border-right: 1px solid $c-grey-300;

  overflow-y: auto;
  overflow-x: hidden;

  padding-bottom: $save-height;

  &:last-child {
    border-right-width: 0px;
  }
}

.tag__column,
.tag__column--sidebar {
  @extend %tag__column;
}

.tag__column--header {
    font-size: 16px;
    font-weight: bold;
    padding: $standard-padding;
    padding-bottom: 0px;
}

.tag__column--sidebar {
  background-color: $c-grey-200;

  flex: 1 0 370px;
}

.tag-validation {
  background-color: $c-white;

  padding: $standard-padding * 1.5;

  .tag-validation__header {
    @extend %fs-data-4;

    font-weight: bold;

    margin-bottom: $standard-padding/2;
  }

  .tag-validation__result {

    @extend %fs-data-3;

    color: $c-red;

    margin-bottom: $standard-padding/2;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .tag-validation__result__dot {

    $size-validationdot: 8px;

    display: inline-block;
    background-color: $c-red;

    width: $size-validationdot;
    height: $size-validationdot;
    border-radius: $size-validationdot;
    margin-right: $size-validationdot;

  }
}

.tag__delete,
.tag__delete--disabled {

  @extend %fs-data-4;

  background-color: white;
  border: 1px solid $c-red;
  color: $c-red;

  padding: $standard-padding/2 $standard-padding;

  font-weight: bold;

  outline: none;

  margin: $standard-padding;
}

.tag__delete--disabled {
  border: 1px solid $c-grey-200;
  color: $c-grey-400;
}


.validation-transition-leave.tag-validation__result {
  opacity: 1;
  color: $c-green;

  .tag-validation__result__dot {
    background-color: $c-green;
  }
}

.validation-transition-leave-active.tag-validation__result {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}
