$taglist-border-color: $c-grey-300;

.taglist {

  @extend %f-header;
  @extend %fs-data-3;

  width: 100%;

  td, th {
    padding: $standard-padding/2 $standard-padding;
  }

}

.taglist__header {
  background-color: $c-grey-200;

  font-weight: bold;

  border: 1px solid $taglist-border-color;
  border-width: 0 1px;
}

.taglist__results {

}

.taglist__results-item {

  border: 1px solid $taglist-border-color;
  cursor: pointer;

  td {
    border-right: 1px solid $taglist-border-color;
  }
}

.taglist__results-item__tag--showall {
  font-weight: bold;
  cursor: pointer;
  padding: 3px;
  background-color: $c-grey-150;
  text-align: center;
}
