{{#hasMixin}}@mixin {{mixinName}} {
	background: url('/images/icons.svg') no-repeat;
}

{{#hasCommon}}.{{commonName}} {
	@include {{mixinName}};
}

{{/hasCommon}}{{/hasMixin}}{{^hasMixin}}{{#hasCommon}}.{{/hasCommon}}{{^hasCommon}}%{{/hasCommon}}{{commonName}} {
	background: url('/assets/images/icons.svg') no-repeat;
	display: inline-block;
	margin: 0 5px;
	position: relative;
	top: 2px;
}

{{/hasMixin}}{{#shapes}}{{#selector.shape}}{{expression}}{{^last}},
{{/last}}{{/selector.shape}} {
	{{^hasCommon}}{{#hasMixin}}@include {{mixinName}};{{/hasMixin}}{{^hasMixin}}@extend %{{commonName}};{{/hasMixin}}
	{{/hasCommon}}background-position: {{position.relative.xy}};
	width: {{width.outer}}px;
	height: {{height.outer}}px;
}

{{/shapes}}
