.tag-context {
}

.tag-context__header {
  @extend %fs-data-4;

  font-weight: bold;

  margin-bottom: $standard-padding;

}

.tag-context__item {
  padding: $standard-padding;

}



.tag-relationship {
  border: 1px solid $c-grey-300;
  padding: $standard-padding;
}

.tag-relationship__tag {
  @extend %fs-data-4;

  vertical-align: top;

  position: relative;

  display: inline-block;
  border: 1px solid $c-grey-300;
  background-color: $c-grey-200;
  padding: $standard-padding/2 $standard-padding;
  margin-right: $standard-padding/2;
  margin-bottom: $standard-padding/2;
  padding-right: 5px;

  &:before {
    @extend .i-article;

    content: " ";
  }

  &:hover {
    text-decoration: none;
    background-color: $c-grey-300;
  }

}

.tag-relationship__tag__remove {
  transform: scale(0.8);
  display: inline-block;
  position: relative;
  right: -5px;
}

%context__add {
  display: inline-block;
  position: relative;
}

.tag-relationship__add {
  @extend %context__add;
  line-height: 35px;
  cursor: pointer;
}

.tag-relationship__add--expanded {
  @extend %context__add;
  width: 300px;
  margin-left: $standard-padding;
}

.tag-references__addrow {
}
