.tag-select,
.tag-select--results-above {

  @extend %f-header;
  @extend %fs-data-3;

  display: inline-block;
  position: relative;

  min-width: 200px;
}

.tag-select__input {
  width: 100%;
}

.tag-select__suggestions {

  position: absolute;
  top: 20px;

  border: 1px solid $c-grey-300;
  background-color: $c-grey-100;

  width: 100%;

  z-index: 2;


  li {
    position: relative;
    display: flex;
    padding: $standard-padding/2 $standard-padding;

    cursor: pointer;

    &:nth-child(even) {
      background-color: $c-white;
    }
  }

  .tag-select--results-above & {
    top: auto;
    bottom: 20px;
  }
}


.tag-select__name {
  flex-grow: 1;
}

.tag-select__tag-type {

  flex-grow: 0;


  background-color: $c-grey-300;

  border-radius: 4px;

  padding: 0 6px;

  vertical-align: center;

}
