@(title: String)

@layout(title) {
    <div id="react-mount" class="main">

        <h1>Loading...</h1>

    </div>

    <script src="@routes.Assets.versioned("jspm_packages/system.js")"></script>
    <script src="@routes.Assets.versioned("config.js")"></script>
    <script>
        System.import('reactBootstrap').catch(function(error) {
            setTimeout(function() { throw error; }, 0);
        });
    </script>
    <script async src="https://apis.google.com/js/client.js?onload=init"></script>
}
